.App {
  text-align: center;
}

.App-header {
  background-color: #ffcc99;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  padding: 20px;
}

.form-container {
  display: flex;
  justify-content: space-around;
}

.task-form,
.note-form {
  width: 45%;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.task-list {
  margin-top: 20px;
}

li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
