@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}
.App-header {
  background-color: #ffaebd;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}
h1 {
  padding-left: 20px;
  font-weight: 400;
  font-family: 'Oooh Baby', cursive;
  font-size: 35px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  padding: 10px;
}

.form-container {
  display: flex;
  justify-content: space-around;
}

.task-form,
.note-form {
  width: 45%;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.task-list {
  margin-top: 20px;
}

li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
